@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Seja bem-vindo(a)!</h1>
    <h2>Ferramenta de Teste de Software para Metodologia Ágil SCRUM</h2>
    <p class="lead"> Está utilizando a Metodologia Ágil SCRUM no seu projeto e não sabe como organizar e controlar a documentação dos seus testes? A ferramenta TesteAgil é o que você precisa! </p>
</div>

<div class="row">
    @*<div class="col-md-4">
        <h2>Como Iniciar meu projeto SCRUM</h2>
        <p>
            <ul>
                <li>Registre-se com um de nossos parceiros e crie seu projeto:
                    <ul>
                        <li>Scrum Project Br</li>
                    </ul>
                </li>
                <li>Faça o <a href="Account/Login.cshtml">login</a>(Seu login e senha serão os mesmos registrados no site parceiro)</li>
                <li>Gerencie seus testes de todos os seus projetos!</li>
            </ul>
    </div>*@
    <div>
        <p style="text-align:center;"><img src="~/Content/Imagens/Logo.png" /></p>
    </div>
</div>